 @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;0,900;1,400;1,800&display=swap");


 nav li{
  display: inline;
  margin: 9px ;

}

nav a{
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

nav a:hover{
  color: orange;    
}

:root {
  --primary-color: #BB460E;
  --secondary-color: #343a40;
}
a {
  text-decoration: none;
  color: #000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
}

input {
  outline: none;
  border: none;
}
/* Inicio da navbar-menu */

.logo img {
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  height: 85px;
}

.navbar a {
  text-decoration: none;
  color: #353535;
  padding: 10px 20px 10px 20px;
  font-weight: bolder;
  border-radius: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
  position: relative;
}

.buttons .login,
.buttons .register {
  padding: 7px 15px;
  border-radius: 20px;
  color: #fff;
  border: 2px solid #fff;
  font-weight: 600;
  font-size: 13px;
}

.buttons .login {
  background-color: #fff;
  color: var(--primary-color);
  z-index: 1;
}
.buttons .register {
  background-color: var(--primary-color);
  position: absolute;
  right: 34px;
  padding-right: 50px;
  color: #fff;
}


/* footer */
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

  footer {
    /* background-color: #353535; */
    padding-top: 20px;
    background-color: #000;
    /* justify-content: center;
    display: flex;
    align-items: center;
    position: absolute; */
    width: 100%;
    bottom: 0px;
    color: #fff;
    font-size: 14px;
    height: 100%;
  }


/* .footer{
     display: flex;
    align-items: center;
    justify-content: space-around; 
 } */

  /* footer .copy {
    color: #d9d9d9;
    text-align: center;
    padding: 10px;
  }
  
  footer .pesquisas {
    color: violet;
    padding: 10px;
  } */
  
  footer a {
    color: #d9d9d9;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #b49af3;
  }
  
  /* footer ul{
    display: flex;
    justify-content: center;
  } */
  
  footer ul{
    display: block;
}
  

  footer li {
    display: flex;
    list-style: none;
  }

  .column{
      height: 100%;
      float: inline-start;
      width: 20%;
      display: flex;
      justify-content: center;
  }

  .column.unique{
    border-top: 1px solid #BB460E;
    padding: 20px 0;
    width: 100%;
  }

  .row{
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-around;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  footer i{
    padding-right: 5px;
  }
  
.social-media i{
  padding-right: 30px;
}

  .social-media{
      padding: 20px 0;
  }

  .social-media i{
      font-size: 25px;
  }

  .btn-app{
    padding-top: 10px;
    width: 120px;
  }

  /* Ajustes para Responsividade */
  @media only screen and (max-width: 771px) {

    .row{
      display: inline-block;
      justify-content: space-around;
    }
    .column{
      display: block;
      margin-bottom: 30px;
      width: 100%;
    }

    .social-media{
      justify-content: center;
      padding-bottom: 0;
    }

    .social-media i{
      padding-right: 10px;
      padding-left: 10px;
    }

    /* Não sei se deixo isso aqui... */
      li{ 
       justify-content: center;
    }  
    .column.app{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }


    .column.unique p{
      text-align: center;
    }

  @media only screen and (max-width: 1090px) and (min-width: 771px) {
     footer{
      padding: 10px;
    } 
    .column{
      width: 100%;
    }

    .social-media i{
      padding-right: 10px;
      padding-left: 10px;
    }

    .column > *{
      flex: 1 1 100%;
    }  

  }

