body {

    background-color: #343a40;
    color: white;
}

header {
    padding: 50px;
    text-align: center;
    margin: auto;
    margin-left: 10%;
}

.imagemlogo {
    float: left;
}


nav {
    position: sticky;
    top: 500px;
    right: 10px;
}

nav li {
    display: inline;
    margin: 9px;

}

nav a {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: orange;
}



.mapa h2{
    font-style: bold;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 43%; 
}

.mapaconteudo{
    text-align: center;
}

.painel-mais-procurados h2{
    margin-top: 40;
}

.painel-mais-procurados{
    display: inline-block;
    text-align: center;
    margin-top: 10px;

}

.painel-mais-procurados img{
    max-width: 100%;
}

.painel-mais-procurados li{
    display: inline-block;
    text-align: center;
    width: 20%;
    padding: 10;
    margin-top: 70;
    margin-left: 20;
    margin-right: 20;

    vertical-align: top;
    box-sizing: border-box;
    border-color: #ffbc40;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
} 

.painel-mais-procurados img{
    width: 300%;
    height: 30%;
}


.simulador{
    box-sizing: border-box;
    text-align: center;
}

.simulador a{
    text-decoration: none;
    /* background-color: white; */
    color: white;

}



.align1{
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

footer{
    margin-left: 45%;
}

