
body {

    background-color: #343a40;
    color: white;
}

header {
    padding: 50px;
    text-align: center;
    margin: auto;
    margin-left: 10%;
}

.imagemlogo {
    float: left;
}


nav {
    position: sticky;
    top: 500px;
    right: 10px;
}

nav li {
    display: inline;
    margin: 9px;

}

nav a {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: orange;
}


.simulador{
    box-sizing: border-box;
    text-align: center;
}

.simulador a{
    text-decoration: none;
    color: white;

}



.align1{
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

footer{
    margin-left: 45%;
}

