

header{
    padding: 50px;
    text-align: center;
    margin: auto;
    margin-left: 10%;
}

.imagemlogo{
    float: left;
}


nav{
    position:sticky ;
    top:500px;
    right: 10px;
}

nav li{
    display: inline;
    margin: 9px ;

}
nav a{
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

nav a:hover{
    color: orange;    
}

body {
    background-color: black;
    color: white;
    /* text-align: center; */
    width: 100%;
    height: 100%;
    padding: 0%;
}

strong {
    color: #ffbc40;
}

.historia{
    float: right;
    text-align: center;
    margin-left: 10vh;
    margin-right: 10vh;
}

/* .caixa {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
} */

.caixa li{
    display: inline-block;
    text-align: center;
    width: 40%;
    vertical-align: top;
    margin: 0 1.5%;
    padding-left: 10%;
    box-sizing: border-box;
}

.texto1{
    width: 55vh;
}

.texto2{
    width: 50vh;
}

.imagemlocalizacao{
    width: 50vh;
}

.texto3{
    width: 55vh;

}

.imagemfuncionarios{
    width: 50vh;
}



.clientes{
    margin: -200px;
    position: absolute;
    bottom: 0%;
    display: inline-block ;
    /* margin: 0; */
    padding: 0; 
    display: grid;
    height: 100px;
    text-align: center;
    
    
}

.clientes li{
    
    display: inline-block;
    text-align: center;
    width: 20%;
    margin: 0%;
    margin-right: 50px;
    vertical-align: top;
    box-sizing: border-box;
    border-color: #ffbc40;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    text-align: center;

    
}

footer .rodape{
    display: relative;
    margin-top: 35%;
    /* margin-left: 50%; */
    margin-left: 45%;
}

.footer{

    font: optional;
    text-align: center;
    /* margin-left: -50%; */
    margin-right: 70%;

    
}  


@media screen and (max-width:767px){
    .caixa li{
        display: block;
        text-align: center;
        width: 40%;
        vertical-align: top;
        margin: 0 1.5%;
        padding-left: 10%;
        box-sizing: border-box;
    }

    .clientes{
        
        text-align: center;
        position: relative;
        bottom: -40%;
        display: grid;
        height: 100px;
        text-align: center;
        

        
    }
    .clientes li{
        
        
        display: block;
        text-align: center;
        width: 40%;
        vertical-align: top;
        margin-left: 30%;
    }
    

    .caixa p{
        text-align: center;
    }

    footer .rodape{
        display: relative;
        margin-top: 250%;
        /* margin-left: 50%; */
        margin-left: 30%;
    }
    
    .footer{
    
        font: optional;
        text-align: center;
        /* margin-left: -50%; */
        margin-right: 70%;
    
        
    }  

    .align1{
        float: right;
        text-align: center;
        margin-left: 90px;
        margin-right: 0px;
    }

   
}

    