body{

    background-color: black;
    color: white;
}

header{
    padding: 50px;
    text-align: center;
    margin: auto;
    margin-left: 10%;
}

.imagemlogo{
    float: left;
}

nav li{
    display: inline;
    margin: 9px ;

}

nav a{
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

nav a:hover{
    color: orange;    
}



h1{
    padding: 30px;
    margin-left: -10px;
    text-align: center;
}

.historia p{
    text-align: justify;
    width: 70%;
    margin-left: 15%;
    
}

.clientes li{
    display: inline-block;
    text-align: center;
    width: 30%;
    margin-right: 30px;
    vertical-align: top;
    box-sizing: border-box;
    border-color: #ffbc40;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    text-align: center;


}

.align1{
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

footer{
    margin-left: 45%;
}

.endereco-cliente li{
    display: inline-block;
    text-align: justify;
    width:40%;
    margin: 40 60 40 50;
    vertical-align: top;
    box-sizing: border-box; 
    text-align: center; */
}

.imagemfuncionarios{
    width: 400px;
}

.imagemlocalizacao{
    width: 400px;
}